body {
    margin: 60px auto;
    width: 100%;
    background-color: powderblue;
}
.jumbotron {
    background-image: './figures/wetlab.jpg';
    margin-bottom:0px;
    margin-top:0px;
    padding: 0px;
}
nav ul, footer ul {
    font-family:'Monserrat', 'Sans-Serif';
    width: 100%;
    height: 42px;
    list-style: none;
}
nav ul li, footer ul li {
    font-family:'Monserrat', 'Sans-Serif';
    display: inline;
    font-size: 1.4em;
}
a {
    text-decoration: none;
    color: #999;
}
h {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
    margin: 20px;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
